In [19]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_csv('transactions.csv')
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

What is the total sales amount across all transactions?

In [21]:
df['t_amt'].sum()

np.float64(5110820.54)

Which month had the highest total transaction amount?

In [34]:
df['t_date']=pd.to_datetime(df['t_date'],format='%d-%m-%y',errors='coerce',dayfirst=True)
df['month']=df['t_date'].dt.to_period('M')
monthly_total = df.groupby('month')['t_amt'].sum()

highest_month = monthly_total.idxmax()
highest_amount = monthly_total.max()
print(monthly_total)
highest_month, highest_amount

ValueError: attempt to get argmax of an empty sequence

What is the average transaction amount per customer?

In [23]:
df.groupby('cust_id')['t_amt'].mean()

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

What is the trend of total sales over months?

In [25]:
df.groupby('t_amt')['t_date']


What is the highest single transaction amount recorded?

In [24]:
df['t_amt'].unique().max()

np.float64(200.0)

Which service category contributes the most to total revenue?

In [26]:
df['services'].unique()

array(['Exercise & Fitness', 'Gymnastics', 'Team Sports',
       'Outdoor Recreation', 'Puzzles', 'Outdoor Play Equipment',
       'Winter Sports', 'Jumping', 'Indoor Games', 'Combat Sports',
       'Water Sports', 'Air Sports', 'Games', 'Dancing', 'Racquet Sports'],
      dtype=object)

In [32]:
df.groupby('services')['t_amt'].sum().idxmax()

'Outdoor Recreation'

Which product generated the highest revenue?

In [35]:
df['products_used'].unique()

array(['Cardio Machine Accessories', 'Weightlifting Gloves',
       'Weightlifting Machine Accessories', 'Gymnastics Rings',
       'Field Hockey', 'Camping & Backpacking & Hiking', 'Jigsaw Puzzles',
       'Sandboxes', 'Snowmobiling', 'Bungee Jumping', 'Archery',
       'Swing Sets', 'Bowling', 'Vaulting Horses', 'Fencing',
       'Free Weight Bars', 'Scuba Diving & Snorkeling', 'Baseball',
       'Life Jackets', 'Weightlifting Belts', 'Parachutes', 'Kitesurfing',
       'Surfing', 'Darts', 'Wrestling', 'Mahjong', 'Cricket', 'Hunting',
       'Swimming', 'Dice & Dice Sets', 'Soccer', 'Lawn Games',
       'Indoor Volleyball', 'Board Games', 'Football', 'Shooting Games',
       'Cheerleading', 'Tetherball', 'Water Polo', 'Abdominal Equipment',
       'Exercise Bands', 'Jumping Stilts', 'Pogo Sticks',
       'Lawn Water Slides', 'Running', 'Geocaching', 'Skating',
       'Windsurfing', 'Snowboarding', 'Beach Volleyball',
       'Downhill Skiing', 'Riding Scooters', 'Poker Chips & Sets',
       'Ballet Bars', 'Softball', 'Skateboarding',
       'Portable Electronic Games', 'Trampolines', 'Springboards',
       'Ice Climbing', 'Rock Climbing', 'Stopwatches', 'Gymnastics Mats',
       'Towed Water Sports', 'Team Handball', 'Sledding',
       'Whitewater Rafting', 'Medicine Balls', 'Exercise Balls',
       'Dominoes', 'Water Tables', 'Equestrian', 'Pommel Horses',
       'Dice Games', 'Gymnastics Protective Gear', 'Cycling',
       'Martial Arts', 'Trampoline Accessories', 'Curling', 'Jump Ropes',
       'Playhouses', 'Card Games', 'Air Hockey', 'Slides', 'Bingo Sets',
       'Weight Benches', 'Boxing', 'Track & Field', 'Gym Mats',
       'Deck Shuffleboard', 'Motorsports', 'Cross-Country Skiing',
       'Foam Rollers', 'Badminton', 'Hockey', 'Cardio Machines',
       'Yoga & Pilates', 'Golf', 'Mechanical Puzzles', 'Snowshoeing',
       'Foosball', 'Racquetball', 'Rugby', 'Tennis', 'Air Suits',
       'Bodyboarding', 'Hang Gliding', 'Disc Golf', 'Water Tubing',
       'Squash', 'Balance Beams', 'Table Shuffleboard', 'Basketball',
       'Gymnastics Bars', 'Billiards', 'Lacrosse', 'Boating', 'Fishing',
       'Free Weights', 'Weightlifting Machines', 'Wetsuits', 'Ping Pong',
       'Outdoor Playsets', 'Bobsledding', 'Luge'], dtype=object)

In [36]:
df.groupby('products_used')['t_amt'].sum().idxmax()

'Yoga & Pilates'